@model QueueOverflow.Models.Usuario

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/_LayoutGeneral.cshtml";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Usuario</h4>
        <hr />
        @Html.ValidationSummary(true)
        <div class="form-group">
            @Html.LabelFor(model => model.idUsuario, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.idUsuario)
                @Html.ValidationMessageFor(model => model.idUsuario)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.txtNombreUsuario, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.txtNombreUsuario)
                @Html.ValidationMessageFor(model => model.txtNombreUsuario)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.txtCorreo, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.txtCorreo)
                @Html.ValidationMessageFor(model => model.txtCorreo)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.txtPassword, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.txtPassword)
                @Html.ValidationMessageFor(model => model.txtPassword)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.txtNombreReal, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.txtNombreReal)
                @Html.ValidationMessageFor(model => model.txtNombreReal)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
